.description {
	font-style: italic;
}

.warning {
	font-style: bold;
	color: red;
}

sectionHeader {
	font-style: bold;
}

.historyerror {
	font-size: x-small;
	color: red;
}

.historysuccess {
	font-size: x-small;
	color: green;
}