.historyerror {
	color: var(--error-color);
}

.historysuccess {
	color: var(--success-color);
}

.lucene-rebuild {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lucene-processed {
  margin-top: 5px;
  font-weight: bold;
}